@import '../../foundation';

$breakpoint: 800px;
$nav-height: 3.5em;
$logo-height: 3em;

$transition-time: 3s;
  
.hello-info {
  margin: 3em 0;
  min-width: 300px;
  hyphens: auto;
  font-size: 2;
  width: 50%;
}

.hello-info h1{
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  font-weight: 400;
}

.hello-info h2{
  font-size: 2em;
  font-weight: 400;
}

.hello-info p{
  font-size: 1.75em;
  font-weight: 400;
}

.hello-info .highlight{
  font-family: 'Source Code Pro', monospace;
  padding: .2em;
  text-decoration: none;
  color: $color_50;
  box-shadow: inset 0px -.1em $color_400;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  
  &:hover{
    color: $almost-white;
    box-shadow: inset 0px -2em $color_400;
  }
}
  

  