@import '../../foundation';

$breakpoint: 800px;
$nav-height: 3.5em;
$logo-height: 3em;

$transition-time: 3s;
  
.hello-container{
  min-width: 400px;
  max-width: 600px;
  hyphens: auto;
  margin: 0px auto;
  padding: 20px;
  line-height: 3em;
}
  
h1{
  font-size: 2em;
  font-weight: 400;
}

p{
  font-size: 1.75em;
  font-weight: 400;
}

.highlight{
  padding: .2em;
  text-decoration: none;
  color: $indigo-dark;
  box-shadow: inset 0px -.1em $pink;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  
  &:hover{
    color: $almost-white;
    box-shadow: inset 0px -2em $pink;
  }
}
  
  