@import '../../foundation';

.landing{
  height: 100%;
  width: 100%;
  //border: solid 3px purple;
}

.fadein-appear {
    opacity: 0.01;
  }
  
.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.container-fullpage{
  height: 100vh;
  //border: solid 2px blue;
}