@import '../../foundation';

button{
    font-family: 'Source Code Pro', monospace;
    background: transparent;
    width: 8em;
    text-align:center;
    font-size: 1em;
    color: $color_300;
    padding: .25em;
    border: 2px solid $color_300;
    border-radius: 50px;

}

button a{
    color: $color_300;
    text-decoration: none;
    font-size: 1.5rem;
}

button:hover{
    cursor: pointer;
    background: $color_300;
    transition-duration: .4s;
    a{
        color: $almost-white;
    }

}
