@import '../../foundation';

button{
    background: transparent;
    width: 7em;
    text-align:center;
    font-size: 2em;
    color: $pink;
    padding: .25em;
    border: 5px solid $pink;
    border-radius: 20px;

}

button a{
    color: $pink;
    text-decoration: none;
    font-size: 1.5rem;
}