@import '../../foundation';


.portfolio-info{
 // border: dotted 2px purple;
  min-width: 300px;
  max-width: 80%;
  hyphens: auto;
  font-size: 1.1em;
}


.portfolio-item {
  border-radius: 10px;
  background: $almost-white-dark;
  margin: 1rem;
  width: 300px;
  height: 300px;
  font-size: 1rem;
  text-align: center;
}

.portfolio-row{
  //border: 1px solid red;
  align-items: center;
}

.portfolio-container{
  width: 80% !important;
}