@import '../../foundation';

$breakpoint: 800px;
$nav-height: 3.5em;
$logo-height: 3em;

$transition-time: 3s;
  


.section-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; // lines up vertically
  flex-direction: row; // places things in same row
}

.about-info{
  min-width: 500px;
  max-width: 60%;
  hyphens: auto;
  font-size: .9em;
  flex-grow: 2;
}

.about-image{
  min-width: 200px;

}

  