@import '../../foundation';


.about-info{
 // border: dotted 2px purple;
  min-width: 500px;
  max-width: 40%;
  hyphens: auto;
  font-size: 1.1em;
  flex-grow: 2;
}

.about-image{
  min-width: 200px;
  max-width: 10%;

}

.about-info{
  max-width: 80%;
}  