.contact-info{
    max-width: 80%;
  }  

#contact .section-info article{
  margin-top: 3em;
}

#contact .section-info .button-email{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  
}