@import 'foundation';

$breakpoint: 800px;
$nav-height: 3.5em;
$logo-height: 3em;

$transition-time: 3s;

html{
    height: 100%;
    //border: dotted 10px green;
}

body{
    //border: dashed 10px red;
    color: $color_50;
    background: $color_1000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}