@import 'foundation';

$breakpoint: 800px;
$nav-height: 3.5em;
$logo-height: 3em;

$transition-time: 3s;

html{
    height: 100%;
}

body{
    color: $indigo-dark;
    background: $almost-white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    position:fixed;
}