@import './foundation';


.section-fullpage{
  //border: solid 2px blue;
  line-height: 4rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; // lines up vertically
  flex-direction: row; // places things in same row
}

@media (min-width:700px){
  .section-fullpage{
    height: 100vh;
  }
}

.section-container{
  //border: dotted 2px blue;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; // lines up vertically
  flex-direction: row; // places things in same row
  width: 60%;
  padding-bottom: 10rem;
}

.section-headline{
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
  color: $pink;
  position: relative;
  overflow: hidden;
  &:after{
    display: inline-block;
    content: "";
    height: 2px;
    background: $pink;
    opacity: .6;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -2px;
    margin-left: 10px;
  }
}

.section-info{
  min-width: 300px;
  hyphens: auto;
  font-size: 1.1rem;
  flex-grow: 2;

}


.section-row{
  min-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.section-column{
  display: flex;
  flex-direction: column; // places things in same column
}